div
{
    margin: 1em;
}
button
{
    background-color: blue;
    border: none;
    width: 6em;
    height: 2.5em;
    color: white;
    font-weight: bold;
    border-radius: 4px;
}
input
{
    border: 1px solid black;
    border-radius: 4px;
    height: 2.5em;
    width: 20em;
    margin-top: 1em;
    text-align: center;
}
input::placeholder
{
    color: blue;
    font-weight: bold;
    font-size: 15px;
    
}